USE [master]
GO
/****** Object:  Database [Websneaker]    Script Date: 11/13/2024 2:31:30 AM ******/
CREATE DATABASE [Websneaker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Websneaker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Websneaker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Websneaker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Websneaker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Websneaker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Websneaker]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](255) NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[status] [bit] NULL,
	[thumbnail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[orders] [int] NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[post_id] [int] NULL,
	[product_id] [varchar](255) NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[link] [varchar](255) NULL,
	[name] [varchar](255) NULL,
	[size] [bigint] NULL,
	[type] [varchar](255) NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[modified_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[price] [bigint] NULL,
	[promotion] [varchar](max) NULL,
	[quantity] [int] NULL,
	[receiver_address] [nvarchar](255) NULL,
	[receiver_name] [nvarchar](255) NULL,
	[receiver_phone] [nvarchar](255) NULL,
	[size] [int] NULL,
	[status] [int] NULL,
	[total_price] [bigint] NULL,
	[buyer] [int] NULL,
	[created_by] [int] NULL,
	[modified_by] [int] NULL,
	[product_id] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[modified_at] [datetime] NULL,
	[published_at] [datetime] NULL,
	[slug] [varchar](max) NULL,
	[status] [int] NULL,
	[thumbnail] [nvarchar](255) NULL,
	[title] [nvarchar](255) NOT NULL,
	[created_by] [int] NULL,
	[modified_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[id] [varchar](255) NOT NULL,
	[created_at] [datetime] NULL,
	[description] [nvarchar](max) NULL,
	[image_feedback] [varchar](max) NULL,
	[images] [varchar](max) NULL,
	[modified_at] [datetime] NULL,
	[name] [nvarchar](255) NOT NULL,
	[price] [bigint] NULL,
	[sale_price] [bigint] NULL,
	[slug] [varchar](255) NOT NULL,
	[status] [bit] NULL,
	[total_sold] [bigint] NULL,
	[product_view] [int] NULL,
	[brand_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_category]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_category](
	[product_id] [varchar](255) NULL,
	[category_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_size]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_size](
	[product_id] [varchar](255) NOT NULL,
	[size] [int] NOT NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_code] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[discount_type] [int] NULL,
	[discount_value] [bigint] NULL,
	[expired_at] [datetime] NULL,
	[is_active] [bit] NULL,
	[is_public] [bit] NULL,
	[maximum_discount_value] [bigint] NULL,
	[name] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[statistic]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[statistic](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[created_at] [datetime] NULL,
	[profit] [bigint] NULL,
	[quantity] [int] NULL,
	[sales] [bigint] NULL,
	[order_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/13/2024 2:31:30 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[email] [varchar](200) NOT NULL,
	[full_name] [nvarchar](255) NULL,
	[modified_at] [datetime] NULL,
	[password] [varchar](255) NOT NULL,
	[phone] [varchar](255) NULL,
	[roles] [varchar](255) NOT NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([id], [created_at], [description], [modified_at], [name], [status], [thumbnail]) VALUES (1, CAST(N'2024-11-13T01:27:10.537' AS DateTime), NULL, NULL, N'POLO', 1, N'/media/static/64ba3605-90c7-4227-ba38-cf4abf2ff9a0.png')
SET IDENTITY_INSERT [dbo].[brand] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([id], [created_at], [modified_at], [name], [orders], [slug], [status]) VALUES (1, CAST(N'2024-11-13T01:28:11.393' AS DateTime), NULL, N'Giày Nam', 0, N'giay-nam', 1)
SET IDENTITY_INSERT [dbo].[category] OFF
GO
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'59eb6f65-4fd8-4c2b-bd73-6b62f77b8a72', CAST(N'2024-11-13T01:35:09.903' AS DateTime), N'/media/static/59eb6f65-4fd8-4c2b-bd73-6b62f77b8a72.jpeg', N'file', 517142, N'jpeg', 1)
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'64ba3605-90c7-4227-ba38-cf4abf2ff9a0', CAST(N'2024-11-13T01:26:48.937' AS DateTime), N'/media/static/64ba3605-90c7-4227-ba38-cf4abf2ff9a0.png', N'file', 917, N'png', 1)
INSERT [dbo].[images] ([id], [created_at], [link], [name], [size], [type], [created_by]) VALUES (N'86ec40fb-dd34-41df-a97f-c5649c6728ab', CAST(N'2024-11-13T01:50:57.843' AS DateTime), N'/media/static/86ec40fb-dd34-41df-a97f-c5649c6728ab.jpg', N'file', 59311, N'jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [created_at], [modified_at], [note], [price], [promotion], [quantity], [receiver_address], [receiver_name], [receiver_phone], [size], [status], [total_price], [buyer], [created_by], [modified_by], [product_id]) VALUES (1, CAST(N'2024-11-13T02:22:22.430' AS DateTime), NULL, N'', 2000000, NULL, 1, N'Hà Nội', N'KhachHang', N'0323456789', 35, 5, 2000000, 2, 2, NULL, N'GeDQN1')
INSERT [dbo].[orders] ([id], [created_at], [modified_at], [note], [price], [promotion], [quantity], [receiver_address], [receiver_name], [receiver_phone], [size], [status], [total_price], [buyer], [created_by], [modified_by], [product_id]) VALUES (2, CAST(N'2024-11-13T02:29:41.303' AS DateTime), NULL, N'', 1390000, NULL, 1, N'Hà Nội', N'Admin', N'0312321123', 40, 1, 1251000, 1, 1, NULL, N'ePRNzV')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([id], [content], [created_at], [description], [modified_at], [published_at], [slug], [status], [thumbnail], [title], [created_by], [modified_by]) VALUES (1, N'<p>Sale còn 1.500.000 VNĐ</p>', CAST(N'2024-11-13T01:53:46.550' AS DateTime), N'<p>SALE!!!</p>', NULL, CAST(N'2024-11-13T01:53:46.550' AS DateTime), N'giay-hot', 1, N'/media/static/e2098c69-774a-47ee-b852-cb6c86f6f6ad.jpg', N'Giày hot', 1, NULL)
SET IDENTITY_INSERT [dbo].[post] OFF
GO
INSERT [dbo].[product] ([id], [created_at], [description], [image_feedback], [images], [modified_at], [name], [price], [sale_price], [slug], [status], [total_sold], [product_view], [brand_id]) VALUES (N'ePRNzV', CAST(N'2024-11-13T01:35:51.110' AS DateTime), N'', NULL, N'["/media/static/59eb6f65-4fd8-4c2b-bd73-6b62f77b8a72.jpeg"]', NULL, N'Paul Sneakers | Trắng gót đen', 1290000, 1390000, N'paul-sneakers-trang-got-en', 1, 0, 6, 1)
INSERT [dbo].[product] ([id], [created_at], [description], [image_feedback], [images], [modified_at], [name], [price], [sale_price], [slug], [status], [total_sold], [product_view], [brand_id]) VALUES (N'G5bBxD', CAST(N'2024-11-13T01:51:02.437' AS DateTime), N'', NULL, N'["/media/static/86ec40fb-dd34-41df-a97f-c5649c6728ab.jpg"]', NULL, N'Giày Sneaker Nam POLO RALPH LAUREN Faxon X', 1500000, 1529000, N'giay-sneaker-nam-polo-ralph-lauren-faxon-x', 1, 0, 3, 1)
INSERT [dbo].[product] ([id], [created_at], [description], [image_feedback], [images], [modified_at], [name], [price], [sale_price], [slug], [status], [total_sold], [product_view], [brand_id]) VALUES (N'GeDQN1', CAST(N'2024-11-13T01:52:44.467' AS DateTime), N'', NULL, N'["/media/static/cd9b4a10-262a-404b-8d72-abcb8a83eed4.jpg"]', NULL, N'Giày Sneaker Nam POLO RALPH LAUREN Keaton-Pony', 1829000, 2000000, N'giay-sneaker-nam-polo-ralph-lauren-keaton-pony', 1, 0, 5, 1)
GO
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'nDf4fe', 1)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'ePRNzV', 1)
INSERT [dbo].[product_category] ([product_id], [category_id]) VALUES (N'UcOFvb', 1)
GO
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'ePRNzV', 39, 5)
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'ePRNzV', 40, 5)
INSERT [dbo].[product_size] ([product_id], [size], [quantity]) VALUES (N'ePRNzV', 41, 5)
GO
SET IDENTITY_INSERT [dbo].[promotion] ON 

INSERT [dbo].[promotion] ([id], [coupon_code], [created_at], [discount_type], [discount_value], [expired_at], [is_active], [is_public], [maximum_discount_value], [name]) VALUES (2, N'ABC123', CAST(N'2024-11-13T02:29:21.220' AS DateTime), 1, 10, CAST(N'2024-11-30T07:00:00.000' AS DateTime), 1, 1, 300000000, N'Sale 20/11')
SET IDENTITY_INSERT [dbo].[promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [address], [avatar], [created_at], [email], [full_name], [modified_at], [password], [phone], [roles], [status]) VALUES (1, NULL, NULL, CAST(N'2024-11-13T01:19:12.620' AS DateTime), N'admin@gmail.com', N'Admin', NULL, N'$2a$12$cUWXuPRb3Eh/.0MSVrfZM.GqUX1/HoommUimDJvXgMFBvpViy.Ky6', N'0312321123', N'["ADMIN"]', 1)
INSERT [dbo].[users] ([id], [address], [avatar], [created_at], [email], [full_name], [modified_at], [password], [phone], [roles], [status]) VALUES (2, NULL, NULL, CAST(N'2024-11-13T02:22:10.290' AS DateTime), N'khachhang@gmail.com', N'KhachHang', NULL, N'$2a$12$4KoL81aEol32c401MX6D9.MzNarGFwxF7LdeuT3POfXZbNsFbHTC6', N'0323456789', N'["USER"]', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__images__A2692381FCB3E725]    Script Date: 11/13/2024 2:31:30 AM ******/
ALTER TABLE [dbo].[images] ADD UNIQUE NONCLUSTERED 
(
	[link] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__promotio__ADE5CBB7BBF6CC94]    Script Date: 11/13/2024 2:31:30 AM ******/
ALTER TABLE [dbo].[promotion] ADD UNIQUE NONCLUSTERED 
(
	[coupon_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[post] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([post_id])
REFERENCES [dbo].[post] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[images]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([buyer])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([modified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[post]  WITH CHECK ADD FOREIGN KEY([modified_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([id])
GO
ALTER TABLE [dbo].[product_category]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[product] ([id])
GO
ALTER TABLE [dbo].[statistic]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
USE [master]
GO
